body {
  background: #2798E2;
  background: -moz-linear-gradient(left, #2798E2 0%, #2388CB 50%, #144E75 100%);
  background: -webkit-linear-gradient(left, #2798E2 0%, #2388CB 50%, #144E75 100%);
  background: linear-gradient(to right, #2798E2 0%, #2388CB 50%, #144E75 100%);
  text-align: center;
  padding-bottom: 50px;
}

#button {
  display: flex;
  flex-direction: row;
}

form {
  padding-top: 20px;
}

h1 {
  padding-top: 50px;
}

#root {
  color: white;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

textarea {
  min-width: 300px;
}
